<?xml version="1.0" ?><settings><node name="Hotkey-RollD6" value="CTRL+R"/><node name="Language" value="English"/><node name="OpenLastDeck" value="Yes"/><node name="Update" value="No"/><node name="Nick" value="n00b"/><node name="Hotkey-Shuffle" value="CTRL+S"/><node name="Skin" value="Default"/><node name="LastDeckPath" value="C:\Program Files (x86)\J_PROJECT\src\Decks\koakitest.xml"/><node name="ShowFaceUpCardName" value="No"/></settings>